
To install the necessary dependencies for this program, include `scipy` in your `requirements.txt` file:

```
scipy
```

You can then install all required packages with the following command:

```
pip install -r requirements.txt
```
